$colgr: #02E602;

@mixin VertText($width: 458px, $left: -290px, $top: 403px, $transform: rotate(-90deg)) {
    position: relative;
    display: inline-block;
    width: $width;
    height: 103px;
    left: $left;
    top: $top;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: rgba(70, 70, 70, 0.26);
    text-shadow: 0px 4px 4px #00000040;
    transform: $transform;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'RF Rufo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #181818;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1310px;
    margin: 0 auto;

}

.out {
    position: relative;
    left: 0;
    top: 44px;
    font-weight: 700;
    font-size: 120px;
    color: rgba(255, 255, 255, 0.2);

    span {
        position: absolute;
        left: 6px;
        top: 57px;
        font-weight: 400;
        font-size: 48px;
        color: $colgr;
    }
}

button {
    /*appearance: none;*/
    width: 288px;
    height: 62px;
    margin-left: 45px;
    background-color: #ffffff00;
    border: 1px solid $colgr;
    color: $colgr;
    font-family: 'RF Rufo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    cursor: pointer;
}

form button {
    width: 197px;
    height: 58px;
}

button:hover {
    background-color: $colgr;
    color: #181818;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
}

.insert {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 31px;
    clear: both;
    margin-top: 21px;

}

ul.breadcrumb {
    padding: 5px 16px;
    margin-top: 40px;
    list-style: none;

}

ul.breadcrumb li {
    display: inline;
    font-size: 24px;
    color: $colgr;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: $colgr;

}

header {

    /*width: 1920px;*/
    background-color: #151515;
    margin: 0 auto;


    .container {
        display: flex;

        .logo {
            width: 193px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .social {
            margin-left: 703px;
            width: 143px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .lang {
            margin-left: 71px;
            width: 59px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 24px;
        }

        .basket {
            margin-left: 51px;
            width: 89px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menuDrop{
                position: relative;
                display: inline-block;
                .contentMenu{
                    display: none;
                    background-color: rgba(24, 24, 24, 0.705);
                    position: absolute; 
                    left: -160px;
                    min-width: 290px;
                    z-index: 2;
                    padding: 20px 0px 15px 15px;
                    a{
                        display: block;
                        height: 40px;
                        margin-top: 15px;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 24px;
                        img{
                            float: left;
                            margin-right: 15px;
                            margin-top: -5px;
                        }
                    }
                }
            }
            .menuDrop:hover .contentMenu {
                display: block;
            }
            .contentMenu a:hover {
                color: $colgr;
            }
            

        }

    }
}

.first_screen,
.first_screenEtno,
.first_screenSpray,
.first_screenMap {

    background: url(../img/first_Background.jpg) center center no-repeat;

    position: relative;
    /*margin: 0 auto 0;
    width: 1920px;*/
    height: 668px;
    top: -28px;
    z-index: -1;

    .container {
        .sprayBig {
            position: relative;
            width: 487px;
            height: 172px;
            top: 205px;
            font-size: 72px;
        }
        .sprayMini {
            width: 458px;
            height: 80px;
            margin-top: 310px;
            font-size: 24px;
            line-height: 40px;
        }


        .etno {
            position: relative;
            width: 495px;
            height: 172px;
            top: 125px;
            font-size: 72px;
        }

        .protect {
            width: 545px;
            height: 80px;
            margin-top: 170px;
            font-size: 24px;
            line-height: 40px;
        }

        .agro {
            position: relative;
            width: 663px;
            height: 258px;
            top: 123px;
            font-size: 72px;
        }

        .advantage {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 587px;
            height: 84px;
            left: 0;
            top: 158px;

            img {
                position: relative;
                width: 946px;
                height: 117px;
                left: -300px;
                top: 0;
            }

            p {
                font-size: 48px;
                line-height: 42px;

                span {
                    font-size: 24px;
                }

            }
        }

        .procent {
            margin-top: 72px;
            width: 700px;
            height: 150px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 210px;
                height: 76px;

                img {
                    display: block;
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 11px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;

                    margin-top: 5px;
                }
            }
        }
    }

}
.first_screenEtno {
    background-image: url(../img/Etno/bgBackground.jpg);
}
.first_screenSpray {
    background-image: url(../img/Spraying/bgBackground.jpg);
}
.first_screenMap {
    background-image: url(../img/Mapping/background.jpg);
}

.first_screen::after,
.first_screenEtno::after,
.first_screenSpray::after,
.first_screenMap::after {
    content: "";
    background: url(../img/mask_first_screen.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15px;
    z-index: -1;
}

.blok_advantage {
    margin-top: 10px;
    background: url(../img/iconDron.png) 88% 29% no-repeat;

    .container {

        /*.out{
            position: relative;
            left: 0;
            top: 44px;
            font-weight: 700;
            font-size: 120px;
            color: rgba(255, 255, 255, 0.2);
            span{
                position: absolute;
                left: 6px;
                top: 57px;
                font-weight: 400;
                font-size: 48px;
                color: $colgr;
            }
        }*/
        .credence {
            margin-top: 107px;
            width: 1302px;
            height: 536px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 422px;
                height: 258px;
                background: #1E1D1D;
                padding: 58px 35px 62px 32px;
                text-align: initial;

                img {
                    display: block;
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 11px;

                }

                h4 {
                    font-size: 22px;
                    font-weight: 400;
                    color: #fff;
                    margin-top: 5px;
                }

                .insert {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 300;
                    line-height: 31px;
                    clear: both;
                    margin-top: 21px;
                }
            }

        }
    }
}

.block_products {
    margin-top: 56px;
    background: url(../img/iconLine.svg) 96% 179% no-repeat;

    /*position: relative;
    overflow: hidden;*/
    p.VertText {
        @include VertText;
    }

    .container {
        .top_sales {
            margin-top: 2px;
            width: 1302px;
            height: 629px;
            display: flex;
            justify-content: space-between;

            div {
                width: 422px;
                height: 629px;
                background: #1E1D1D;
                padding: 14px 25px 65px;

                h3 {
                    margin: 27px 29px 30px 45px;
                    font-size: 34px;
                    line-height: 34px;
                    font-weight: 400;
                }

                span {
                    margin-left: 45px;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 38px;
                }

                .price {
                    display: block;
                    font-size: 30px;
                    line-height: 30px;
                    margin-top: 20px;
                    margin-bottom: 19px;
                }

            }
        }
    }
}

.banner {
    margin-top: 110px;
    height: 650px;
    position: relative;
    background: url(../img/Background_banner.jpg) center center no-repeat;
    z-index: 0;

    .container {
        .request {
            position: relative;
            top: 153px;
            z-index: 1;

            p {
                font-size: 72px;
                line-height: 48px;
            }

            span {
                display: block;
                margin-top: 50px;
                font-weight: 300;
                font-size: 34px;
                line-height: 54px;
            }

            button {
                margin-top: 70px;
                margin-left: 0px;
                width: 288px;
                height: 62px;
            }
        }
    }
}

.banner::after {
    content: "";
    background: url(../img/mask_banner.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -347px;
    z-index: -1;
}

.company {
    margin-top: 10px;
    height: 458px;

    .container {

        .info {
            margin-top: 80px;
            width: 1195px;
            height: 125px;
            font-weight: 300;
            font-size: 18px;
            line-height: 31px;
            transition: height .25s;
            overflow: hidden;
        }

        .arrow {
            position: relative;
            margin-top: -94px;
            text-align: center;

            .gradient {
                position: relative;
                top: 0px;
                width: 1310px;
                height: 94px;
                background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);

            }
        }

        .info:hover {
            height: 250px;
        }

        .info:hover+.arrow {
            display: none;
        }
    }
}

.region {
    margin-top: 10px;
    height: 970px;

    .container {
        .russia{
            width: 675px;
            height: 760px;
            position: relative;
            left: 580px;
            bottom: 725px;
            
            // object {
            //     // position: relative;
            //     // left: 620px;
            //     // bottom: 1150px;
            //     // margin-left: 520px;
            //     // margin-top: -700px;            
                
            
            // }
        }
        

        p.VertText {
            @include VertText;
        }

        .list {
            margin-top: 115px;
            margin-left: 10px;
            width: 520px;
            height: 465px;
            display: flex;
            justify-content: space-between;

            ul {
                font-weight: 300;
                font-size: 24px;
                line-height: 39px;

            }

        }

        .list {
            ul li:hover {
                color: $colgr;
            }
        }
    }
}

.client {
    margin-top: 55px;

    .container {
        .client_logo {

            margin-top: 105px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.news {
    margin-top: 100px;

    .container {
        .news_block {
            margin-top: 105px;
            display: flex;
            justify-content: space-between;

            div {
                width: 422px;
                height: 607px;

                h4 {
                    margin-top: 50px;
                }

                p {
                    margin-top: 30px;
                }

                .read {
                    display: block;
                    margin-top: 30px;
                    color: $colgr;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}

.service_etno {
    margin-top: 10px;
    height: 458px;

    .container {

        .info {
            margin-top: 80px;
            width: 1055px;
            height: 125px;
            font-weight: 300;
            font-size: 18px;
            line-height: 31px;
            transition: height .25s;
            overflow: hidden;
        }

        .arrow {
            position: relative;
            margin-top: -94px;
            text-align: center;

            .gradient {
                position: relative;
                top: 0px;
                width: 1310px;
                height: 94px;
                background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);

            }
        }

        .info:hover {
            height: 250px;
        }

        .info:hover+.arrow {
            display: none;
        }
    }
}

footer {
    margin-top: 125px;
    border-top: $colgr solid 1px;
    height: 99px;

    .container {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 193px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .social {
            width: 380px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.blok_advantage_etno {
    margin-top: 10px;

    .container {
        p.VertText {
            @include VertText(458px,-298px, 355px);
        }

        .credence {
            margin-top: 6px;
            width: 1302px;
            height: 536px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 422px;
                height: 258px;
                background: #1E1D1D;
                padding: 58px 35px 62px 32px;
                text-align: initial;

                img {
                    display: block;
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 11px;

                }

                h4 {
                    font-size: 22px;
                    font-weight: 400;
                    color: #fff;
                    margin-top: 5px;
                }

                .insert {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 300;
                    line-height: 31px;
                    clear: both;
                    margin-top: 21px;
                }
            }

        }
    }
}

.blok_problems {
    height: 585px;
    background-image: url(../img/Etno/iconDrone_flying.svg), url(../img/Etno/iconLine.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, top right;

    .container {
        .problem {
            margin-top: 150px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 369px;
                height: auto;
                margin-bottom: 30px;

                img {
                    float: left;
                }

                p {
                    font-size: 24px;
                    font-weight: 300;
                    padding-left: 50px;
                    padding-right: 35px;
                }
            }

        }
    }
}

.block_insect {
    .container {
        p.VertText {
            @include VertText(498px, -298px, 520px);
        }

        .VertText_R {
            @include VertText(498px, 1120px, 525px, rotate(90deg));
        }

        .info_insect {
            width: 1043px;
            font-weight: 300;
            font-size: 18px;
            line-height: 31px;
        }

        .insect_type {
            width: 1310px;
            height: 615px;
            background: url(../img/Etno/backCol.png) no-repeat top right;
            padding-top: 80px;
            padding-right: 85px;
            font-weight: 300;
            font-size: 18px;
            line-height: 31px;
            margin-top: 70px;

            img {
                float: left;
                margin-right: 45px;
            }

            .destroy {
                display: inline-block;
                width: 474px;
                height: 99px;
                margin-top: 45px;

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 22px;
                }

                img {
                    float: left;
                    margin-right: 20px;
                }

                .destroy_insert {
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;

                    img {
                        margin-right: 15px;
                        margin-top: 10px;

                    }

                    li {
                        margin-left: 60px;
                        margin-bottom: 20px;

                    }
                }

                ul li:last-of-type {
                    margin-left: 46px;
                }
            }
        }

        .insect_type_R {
            width: 1310px;
            height: 615px;
            background: url(../img/Etno/backCol.png) no-repeat top left;
            padding-top: 80px;
            padding-left: 85px;
            font-weight: 300;
            font-size: 18px;
            line-height: 31px;
            margin-top: 70px;

            img {
                float: right;
                margin-left: 45px;
            }

            .destroy {
                display: inline-block;
                width: 474px;
                height: 99px;
                margin-top: 45px;

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 22px;
                }

                img {
                    float: left;
                    margin-right: 20px;
                }

                .destroy_insert {
                    margin-top: 30px;
                    display: flex;
                    justify-content: end;
                    flex-wrap: wrap;

                    img {
                        margin-right: 15px;
                        margin-top: 10px;

                    }

                    li {

                        margin-bottom: 20px;

                    }
                }

                ul li:first-of-type {
                    margin-right: 12px;
                }

                ul li:nth-of-type(2) {
                    margin-right: 12px;
                }

            }
        }
    }
}

.stageWork {
    background-image: url(../img/Etno/iconLine_1.png), url(../img/Etno/iconLine_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 7% 100%, 75% 50%;

    .container {
        .arrow {
            img {
                position: relative;
                top: -325px;
                left: 238px;
                margin-right: 150px;
            }
        }

        .arrow img:nth-of-type(2) {
            margin-right: 185px;
        }

        .stages {
            margin-top: 104px;
            display: grid;
            grid-template-columns: 311px 311px 311px 311px;
            grid-template-rows: 202px 202px;
            grid-column-gap: 22px;
            grid-row-gap: 65px;
            align-items: center;



            .preparation {
                background-color: #1E1D1D;
                padding: 30px 40px 60px 30px;

                img {
                    float: left;
                    margin-right: 15px;
                }

                p {
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 38px;
                    margin-left: 55px;
                }
            }

            .done {

                p {

                    font-weight: 700;
                    font-size: 50px;
                    line-height: 60px;
                    text-transform: uppercase;
                    color: rgba(70, 70, 70, 0.26);
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                .center {
                    text-align: center;
                }

            }

        }
    }
}

.needHelp {
    .container {
        .square {
            position: relative;
            margin: 0 auto;
            width: 1230px;
            height: 510px;
            background-color: #1E1D1D;
            padding-left: 76px;


            .out {
                top: 25px;
            }

            img {
                float: right;
                position: relative;
                z-index: 1;
                margin-top: -250px;
            }

            .request {
                margin-top: 65px;
                font-size: 24px;
                line-height: 40px;
            }

            form {
                position: relative;
                margin-top: 80px;
                z-index: 1;


                input {

                    width: 200px;
                    margin-right: 42px;
                    background-color: #1e1d1d00;
                    padding: 10px;
                    font-family: 'RF Rufo';
                    font-size: 18px;
                    border: 0;
                    border-bottom: 1px solid;
                    border-color: #4B4A4A;
                    color: #fff;
                }
            }


            form input:hover {
                border-color: #fff;
            }

            form input:focus {
                outline: none;

                border-color: $colgr;
                color: #fff;
            }

            a {
                display: inline-block;
                margin-top: 20px;
                margin-left: 20px;
            }
        }

        .square::after {
            content: "";
            position: absolute;
            top: 0;
            right: 35px;
            width: 610px;
            height: 585px;
            background: url(../img/Etno/iconLine.svg) no-repeat center;
            z-index: 0;

        }
    }
}

.pageNews {
    background-image: url(../img/News/iconDron.svg), url(../img/News/XMLID_1_.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 91% 4%, 0% 117%;

    .container {
        .out {
            margin-top: -11px;
        }

        p.VertText {
            @include VertText(500px, -310px, 305px);
        }

        .VertText_R {
            @include VertText(570px, 580px, 1360px, rotate(90deg));
        }

        .fourNews {
            margin-top: -59px;

            .fullNews {
                width: 1310px;
                height: 388px;
                background-color: #1E1D1D;
                margin-top: 50px;
                padding: 30px 65px 75px 30px;

                img {
                    float: left;

                }

                h4 {
                    margin-top: 51px;
                    margin-left: 554px;
                }

                .date {
                    font-weight: 300;
                    font-size: 16px;
                    position: relative;
                    left: 620px;
                    top: -23px;
                }

                .insert {
                    clear: none;
                    margin: 8px 153px 30px 554px;

                }

                a {

                    border: 0;
                    border-bottom: 1px solid;
                    border-color: $colgr;
                    color: $colgr;
                    margin-left: 54px;
                    font-weight: 300;
                    font-size: 16px;

                }

            }
        }

        .navbar {
            width: 188px;
            height: 40px;
            margin: 0 auto;
            margin-top: 70px;
            font-size: 40px;

            a {
                margin-right: 28px;
            }
        }

        .navbar a:hover {

            color: $colgr;
        }

        .navbar a.active {

            color: $colgr;
        }

    }

}

.Spraying_service, .air_photo {
    height: 505px;

    .container {
        .info {
            margin-top: 110px;
            width: 1031px;
            height: 125px;
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            transition: height .25s;
            overflow: hidden;
        }

        .arrow {
            position: relative;
            margin-top: -94px;
            text-align: center;

            .gradient {
                position: relative;
                top: 0px;
                width: 1310px;
                height: 94px;
                background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);

            }
        }

        .info:hover {
            height: 250px;
        }

        .info:hover+.arrow {
            display: none;
        }
    }
}

.Positive,
.negative {
    background: url(../img/Spraying/iconDron_1.svg) no-repeat 92% 15%;

    .container {


        p.VertText {
            @include VertText(500px, -310px, 100px);
        }

        .VertText_R {
            @include VertText(498px, 1120px, 320px, rotate(90deg));
        }

        .threeСolumns {
            display: flex;
            justify-content: space-between;

            div {
                width: 422px;
                height: max-content;
                background-color: #1E1D1D;
                padding: 47px 25px 60px;

                img:first-of-type {
                    float: left;
                    margin-right: 15px;
                }

                .resume {
                    margin-top: 45px;

                    li {
                        font-weight: 300;
                        font-size: 18px;
                        margin-top: 6px;

                        p {
                            margin-left: 38px;
                            line-height: 31px;
                        }
                    }
                }
            }
        }
    }
}

.negative {
    margin-top: 70px;
    background: none;
}

.nozzle {
    background: url(../img/Spraying/XMLID_1_.svg) no-repeat center center;

    .container {
        p.VertText {
            @include VertText(608px, -367px, 403px);
        }

        .twoColumns {
            display: flex;
            justify-content: space-around;

            div {
                width: 502px;
                height: 688px;
                background-color: #1E1D1D;
                margin-top: 50px;
                margin-bottom: 100px;
                padding: 35px 70px 155px;



                h3 {
                    margin-top: 60px;
                    margin-bottom: 40px;
                    font-weight: 400;
                    font-size: 34px;
                    line-height: 34px;
                }

                .resume {


                    li {                        
                        margin-top: 6px;                       

                        img {
                            float: left;
                            margin-right: 15px;
                            margin-top: 10px;
                            
                        }

                        p {
                            margin-left: 38px;
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 40px;

                        }
                    }
                }
            }
        }
    }
}
