*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'RF Rufo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1310px;
    margin: 0 auto;
    display: flex;
}
header{
    position: absolute;
    width: 1920px;
    background-color: #151515;
    margin: 0 auto;
   
    .container{
            .logo{
                width: 193px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
            }
            .social{
                margin-left: 703px;
                width: 143px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .lang{
                margin-left: 71px;
                width: 59px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                font-size: 24px;
            }
            .basket{
                margin-left: 51px;
                width: 89px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
            }
        
    }
}
.first_screen{
    background:  url(../img/first_Background.jpg) no-repeat;
    position: absolute;
    width: 1920px;
    height: 668px;
    top: 38px;
    z-index: -1;
    .agro{
        position: absolute;
        width: 663px;
        height: 258px;
        left: 301px;
        top: 143px;
        font-size: 72px;
    }
    .advantage{
        img{
            position: absolute;
            left: -306px;
            top: -127px;
        }
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 587px;
        height: 84px;
        left: 307px;
        top: 542px;
        p{
            font-size: 48px;
            line-height: 42px;
            span{
                font-size: 24px;
            }

        }
    }
    
}
.first_screen::after{
    content: "";
    background: url(../img/mask_first_screen.png) no-repeat; 
    position: absolute;
    width: 1920px;
    height: 650px;
    top: 26px;
    z-index: -1;
}
.blok_advantage{
    position: absolute;
    background-color: black;
    width: 1920px;
    height: 938px;
    top: 706px;
    .conteiner{
        position: absolute;
        p{
            position: absolute;
            left: 306px;
            top: 85px;
            font-weight: 700;
            font-size: 120px;
            color: rgba(255, 255, 255, 0.2);
            span{
                position: absolute;
                left: 6px;
                top: 57px;
                font-weight: 400;
                font-size: 48px;
                color: #02E602;
            }
        }
    .credence{
        position: absolute;
        width: 1302px;
        height: 536px;
        left: 10px;
        top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div{
            width: 422px;
            height: 258px;
            background: #1E1D1D;
           }
        }    
    }
}
.blok_advantage::after{
    content: "";
    background: url(../img/iconDron.svg) no-repeat;
    position: absolute;
    width: 264px;
    height: 265px;
    left: 1453px;
    top: 209px;
}