@charset "UTF-8";
/* line 19, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 25, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
body {
  font-family: 'RF Rufo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #181818;
}

/* line 33, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 38, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
li {
  list-style-type: none;
}

/* line 42, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.container {
  max-width: 1310px;
  margin: 0 auto;
}

/* line 48, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.out {
  position: relative;
  left: 0;
  top: 44px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.2);
}

/* line 56, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.out span {
  position: absolute;
  left: 6px;
  top: 57px;
  font-weight: 400;
  font-size: 48px;
  color: #02E602;
}

/* line 66, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
button {
  /*appearance: none;*/
  width: 288px;
  height: 62px;
  margin-left: 45px;
  background-color: #ffffff00;
  border: 1px solid #02E602;
  color: #02E602;
  font-family: 'RF Rufo';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
}

/* line 82, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
form button {
  width: 197px;
  height: 58px;
}

/* line 87, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
button:hover {
  background-color: #02E602;
  color: #181818;
}

/* line 92, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

/* line 99, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
  margin-top: 21px;
}

/* line 109, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
ul.breadcrumb {
  padding: 5px 16px;
  margin-top: 40px;
  list-style: none;
}

/* line 116, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
ul.breadcrumb li {
  display: inline;
  font-size: 24px;
  color: #02E602;
}

/* line 122, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

/* line 128, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

/* line 133, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
ul.breadcrumb li a:hover {
  color: #02E602;
}

/* line 138, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header {
  /*width: 1920px;*/
  background-color: #151515;
  margin: 0 auto;
}

/* line 145, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container {
  display: flex;
}

/* line 148, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .logo {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 156, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .social {
  margin-left: 703px;
  width: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 164, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .lang {
  margin-left: 71px;
  width: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

/* line 174, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket {
  margin-left: 51px;
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 180, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .menuDrop {
  position: relative;
  display: inline-block;
}

/* line 183, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .menuDrop .contentMenu {
  display: none;
  background-color: rgba(24, 24, 24, 0.705);
  position: absolute;
  left: -160px;
  min-width: 290px;
  z-index: 2;
  padding: 20px 0px 15px 15px;
}

/* line 191, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .menuDrop .contentMenu a {
  display: block;
  height: 40px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

/* line 198, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .menuDrop .contentMenu a img {
  float: left;
  margin-right: 15px;
  margin-top: -5px;
}

/* line 206, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .menuDrop:hover .contentMenu {
  display: block;
}

/* line 209, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket .contentMenu a:hover {
  color: #02E602;
}

/* line 219, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen,
.first_screenEtno,
.first_screenSpray,
.first_screenMap {
  background: url(../img/first_Background.jpg) center center no-repeat;
  position: relative;
  /*margin: 0 auto 0;
    width: 1920px;*/
  height: 668px;
  top: -28px;
  z-index: -1;
}

/* line 234, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .sprayBig,
.first_screenEtno .container .sprayBig,
.first_screenSpray .container .sprayBig,
.first_screenMap .container .sprayBig {
  position: relative;
  width: 487px;
  height: 172px;
  top: 205px;
  font-size: 72px;
}

/* line 241, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .sprayMini,
.first_screenEtno .container .sprayMini,
.first_screenSpray .container .sprayMini,
.first_screenMap .container .sprayMini {
  width: 458px;
  height: 80px;
  margin-top: 310px;
  font-size: 24px;
  line-height: 40px;
}

/* line 250, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .etno,
.first_screenEtno .container .etno,
.first_screenSpray .container .etno,
.first_screenMap .container .etno {
  position: relative;
  width: 495px;
  height: 172px;
  top: 125px;
  font-size: 72px;
}

/* line 258, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .protect,
.first_screenEtno .container .protect,
.first_screenSpray .container .protect,
.first_screenMap .container .protect {
  width: 545px;
  height: 80px;
  margin-top: 170px;
  font-size: 24px;
  line-height: 40px;
}

/* line 266, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .agro,
.first_screenEtno .container .agro,
.first_screenSpray .container .agro,
.first_screenMap .container .agro {
  position: relative;
  width: 663px;
  height: 258px;
  top: 123px;
  font-size: 72px;
}

/* line 274, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage,
.first_screenEtno .container .advantage,
.first_screenSpray .container .advantage,
.first_screenMap .container .advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 587px;
  height: 84px;
  left: 0;
  top: 158px;
}

/* line 284, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage img,
.first_screenEtno .container .advantage img,
.first_screenSpray .container .advantage img,
.first_screenMap .container .advantage img {
  position: relative;
  width: 946px;
  height: 117px;
  left: -300px;
  top: 0;
}

/* line 292, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p,
.first_screenEtno .container .advantage p,
.first_screenSpray .container .advantage p,
.first_screenMap .container .advantage p {
  font-size: 48px;
  line-height: 42px;
}

/* line 296, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p span,
.first_screenEtno .container .advantage p span,
.first_screenSpray .container .advantage p span,
.first_screenMap .container .advantage p span {
  font-size: 24px;
}

/* line 303, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .procent,
.first_screenEtno .container .procent,
.first_screenSpray .container .procent,
.first_screenMap .container .procent {
  margin-top: 72px;
  width: 700px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 311, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .procent div,
.first_screenEtno .container .procent div,
.first_screenSpray .container .procent div,
.first_screenMap .container .procent div {
  width: 210px;
  height: 76px;
}

/* line 315, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .procent div img,
.first_screenEtno .container .procent div img,
.first_screenSpray .container .procent div img,
.first_screenMap .container .procent div img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

/* line 323, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .procent div p,
.first_screenEtno .container .procent div p,
.first_screenSpray .container .procent div p,
.first_screenMap .container .procent div p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

/* line 334, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screenEtno {
  background-image: url(../img/Etno/bgBackground.jpg);
}

/* line 337, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screenSpray {
  background-image: url(../img/Spraying/bgBackground.jpg);
}

/* line 340, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screenMap {
  background-image: url(../img/Mapping/background.jpg);
}

/* line 344, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen::after,
.first_screenEtno::after,
.first_screenSpray::after,
.first_screenMap::after {
  content: "";
  background: url(../img/mask_first_screen.png) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  z-index: -1;
}

/* line 357, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage {
  margin-top: 10px;
  background: url(../img/iconDron.png) 88% 29% no-repeat;
}

/* line 361, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container {
  /*.out{
            position: relative;
            left: 0;
            top: 44px;
            font-weight: 700;
            font-size: 120px;
            color: rgba(255, 255, 255, 0.2);
            span{
                position: absolute;
                left: 6px;
                top: 57px;
                font-weight: 400;
                font-size: 48px;
                color: $colgr;
            }
        }*/
}

/* line 379, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence {
  margin-top: 107px;
  width: 1302px;
  height: 536px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 387, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div {
  width: 422px;
  height: 258px;
  background: #1E1D1D;
  padding: 58px 35px 62px 32px;
  text-align: initial;
}

/* line 394, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

/* line 403, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

/* line 410, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div .insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
  margin-top: 21px;
}

/* line 424, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products {
  margin-top: 56px;
  background: url(../img/iconLine.svg) 96% 179% no-repeat;
  /*position: relative;
    overflow: hidden;*/
}

/* line 430, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products p.VertText {
  position: relative;
  display: inline-block;
  width: 458px;
  height: 103px;
  left: -290px;
  top: 403px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 435, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales {
  margin-top: 2px;
  width: 1302px;
  height: 629px;
  display: flex;
  justify-content: space-between;
}

/* line 442, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div {
  width: 422px;
  height: 629px;
  background: #1E1D1D;
  padding: 14px 25px 65px;
}

/* line 448, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div h3 {
  margin: 27px 29px 30px 45px;
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
}

/* line 455, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div span {
  margin-left: 45px;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
}

/* line 462, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div .price {
  display: block;
  font-size: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 19px;
}

/* line 475, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner {
  margin-top: 110px;
  height: 650px;
  position: relative;
  background: url(../img/Background_banner.jpg) center center no-repeat;
  z-index: 0;
}

/* line 483, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request {
  position: relative;
  top: 153px;
  z-index: 1;
}

/* line 488, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request p {
  font-size: 72px;
  line-height: 48px;
}

/* line 493, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request span {
  display: block;
  margin-top: 50px;
  font-weight: 300;
  font-size: 34px;
  line-height: 54px;
}

/* line 501, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request button {
  margin-top: 70px;
  margin-left: 0px;
  width: 288px;
  height: 62px;
}

/* line 511, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner::after {
  content: "";
  background: url(../img/mask_banner.png) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -347px;
  z-index: -1;
}

/* line 522, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company {
  margin-top: 10px;
  height: 458px;
}

/* line 528, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info {
  margin-top: 80px;
  width: 1195px;
  height: 125px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  transition: height .25s;
  overflow: hidden;
}

/* line 539, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .arrow {
  position: relative;
  margin-top: -94px;
  text-align: center;
}

/* line 544, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .arrow .gradient {
  position: relative;
  top: 0px;
  width: 1310px;
  height: 94px;
  background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);
}

/* line 554, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info:hover {
  height: 250px;
}

/* line 558, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info:hover + .arrow {
  display: none;
}

/* line 564, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region {
  margin-top: 10px;
  height: 970px;
}

/* line 569, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .russia {
  width: 840px;
  height: 760px;
  position: relative;
  left: 510px;
  bottom: 570px;
}

/* line 588, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container p.VertText {
  position: relative;
  display: inline-block;
  width: 458px;
  height: 103px;
  left: -290px;
  top: 403px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 592, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list {
  margin-top: 115px;
  margin-left: 10px;
  width: 520px;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

/* line 600, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list ul {
  font-weight: 300;
  font-size: 24px;
  line-height: 39px;
}

/* line 610, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list ul li:hover {
  color: #02E602;
}

/* line 617, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.client {
  margin-top: 55px;
}

/* line 621, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.client .container .client_logo {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

/* line 630, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news {
  margin-top: 100px;
}

/* line 634, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

/* line 639, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div {
  width: 422px;
  height: 607px;
}

/* line 643, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div h4 {
  margin-top: 50px;
}

/* line 647, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div p {
  margin-top: 30px;
}

/* line 651, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div .read {
  display: block;
  margin-top: 30px;
  color: #02E602;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

/* line 664, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno {
  margin-top: 10px;
  height: 458px;
}

/* line 670, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno .container .info {
  margin-top: 80px;
  width: 1055px;
  height: 125px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  transition: height .25s;
  overflow: hidden;
}

/* line 681, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno .container .arrow {
  position: relative;
  margin-top: -94px;
  text-align: center;
}

/* line 686, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno .container .arrow .gradient {
  position: relative;
  top: 0px;
  width: 1310px;
  height: 94px;
  background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);
}

/* line 696, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno .container .info:hover {
  height: 250px;
}

/* line 700, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.service_etno .container .info:hover + .arrow {
  display: none;
}

/* line 706, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer {
  margin-top: 125px;
  border-top: #02E602 solid 1px;
  height: 99px;
}

/* line 711, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* line 716, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container .logo {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 723, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container .social {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 732, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno {
  margin-top: 10px;
}

/* line 736, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container p.VertText {
  position: relative;
  display: inline-block;
  width: 458px;
  height: 103px;
  left: -298px;
  top: 355px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 740, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container .credence {
  margin-top: 6px;
  width: 1302px;
  height: 536px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 748, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container .credence div {
  width: 422px;
  height: 258px;
  background: #1E1D1D;
  padding: 58px 35px 62px 32px;
  text-align: initial;
}

/* line 755, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container .credence div img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

/* line 764, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container .credence div h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

/* line 771, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage_etno .container .credence div .insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
  margin-top: 21px;
}

/* line 785, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_problems {
  height: 585px;
  background-image: url(../img/Etno/iconDrone_flying.svg), url(../img/Etno/iconLine.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, top right;
}

/* line 792, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_problems .container .problem {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 798, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_problems .container .problem div {
  width: 369px;
  height: auto;
  margin-bottom: 30px;
}

/* line 803, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_problems .container .problem div img {
  float: left;
}

/* line 807, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_problems .container .problem div p {
  font-size: 24px;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 35px;
}

/* line 821, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container p.VertText {
  position: relative;
  display: inline-block;
  width: 498px;
  height: 103px;
  left: -298px;
  top: 520px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 825, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .VertText_R {
  position: relative;
  display: inline-block;
  width: 498px;
  height: 103px;
  left: 1165px;
  top: 525px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(90deg);
}

/* line 829, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .info_insect {
  width: 1043px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
}

/* line 836, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type {
  width: 1310px;
  height: 615px;
  background: url(../img/Etno/backCol.png) no-repeat top right;
  padding-top: 80px;
  padding-right: 85px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  margin-top: 70px;
}

/* line 847, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type img {
  float: left;
  margin-right: 45px;
}

/* line 852, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy {
  display: inline-block;
  width: 474px;
  height: 99px;
  margin-top: 45px;
}

/* line 858, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy p {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}

/* line 864, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy img {
  float: left;
  margin-right: 20px;
}

/* line 869, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy .destroy_insert {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

/* line 874, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy .destroy_insert img {
  margin-right: 15px;
  margin-top: 10px;
}

/* line 880, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy .destroy_insert li {
  margin-left: 60px;
  margin-bottom: 20px;
}

/* line 887, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type .destroy ul li:last-of-type {
  margin-left: 46px;
}

/* line 893, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R {
  width: 1310px;
  height: 615px;
  background: url(../img/Etno/backCol.png) no-repeat top left;
  padding-top: 80px;
  padding-left: 85px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  margin-top: 70px;
}

/* line 904, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R img {
  float: right;
  margin-left: 45px;
}

/* line 909, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy {
  display: inline-block;
  width: 474px;
  height: 99px;
  margin-top: 45px;
}

/* line 915, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy p {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}

/* line 921, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy img {
  float: left;
  margin-right: 20px;
}

/* line 926, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy .destroy_insert {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

/* line 932, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy .destroy_insert img {
  margin-right: 15px;
  margin-top: 10px;
}

/* line 938, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy .destroy_insert li {
  margin-bottom: 20px;
}

/* line 945, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy ul li:first-of-type {
  margin-right: 12px;
}

/* line 949, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_insect .container .insect_type_R .destroy ul li:nth-of-type(2) {
  margin-right: 12px;
}

/* line 958, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork {
  background-image: url(../img/Etno/iconLine_1.png), url(../img/Etno/iconLine_2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 7% 100%, 75% 50%;
}

/* line 965, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .arrow img {
  position: relative;
  top: -325px;
  left: 238px;
  margin-right: 150px;
}

/* line 973, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .arrow img:nth-of-type(2) {
  margin-right: 185px;
}

/* line 977, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages {
  margin-top: 104px;
  display: grid;
  grid-template-columns: 311px 311px 311px 311px;
  grid-template-rows: 202px 202px;
  grid-column-gap: 22px;
  grid-row-gap: 65px;
  align-items: center;
}

/* line 988, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages .preparation {
  background-color: #1E1D1D;
  padding: 30px 40px 60px 30px;
}

/* line 992, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages .preparation img {
  float: left;
  margin-right: 15px;
}

/* line 997, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages .preparation p {
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-left: 55px;
}

/* line 1007, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages .done p {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* line 1017, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.stageWork .container .stages .done .center {
  text-align: center;
}

/* line 1029, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square {
  position: relative;
  margin: 0 auto;
  width: 1230px;
  height: 510px;
  background-color: #1E1D1D;
  padding-left: 76px;
}

/* line 1038, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square .out {
  top: 25px;
}

/* line 1042, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square img {
  float: right;
  position: relative;
  z-index: 1;
  margin-top: -250px;
}

/* line 1049, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square .request {
  margin-top: 65px;
  font-size: 24px;
  line-height: 40px;
}

/* line 1055, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square form {
  position: relative;
  margin-top: 80px;
  z-index: 1;
}

/* line 1061, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square form input {
  width: 200px;
  margin-right: 42px;
  background-color: #1e1d1d00;
  padding: 10px;
  font-family: 'RF Rufo';
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid;
  border-color: #4B4A4A;
  color: #fff;
}

/* line 1077, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square form input:hover {
  border-color: #fff;
}

/* line 1081, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square form input:focus {
  outline: none;
  border-color: #02E602;
  color: #fff;
}

/* line 1088, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 1095, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.needHelp .container .square::after {
  content: "";
  position: absolute;
  top: 0;
  right: 35px;
  width: 610px;
  height: 585px;
  background: url(../img/Etno/iconLine.svg) no-repeat center;
  z-index: 0;
}

/* line 1109, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews {
  background-image: url(../img/News/iconDron.svg), url(../img/News/XMLID_1_.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 91% 4%, 0% 117%;
}

/* line 1115, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .out {
  margin-top: -11px;
}

/* line 1119, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container p.VertText {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 103px;
  left: -310px;
  top: 305px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 1123, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .VertText_R {
  position: relative;
  display: inline-block;
  width: 570px;
  height: 103px;
  left: 580px;
  top: 1360px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(90deg);
}

/* line 1127, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews {
  margin-top: -59px;
}

/* line 1130, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews {
  width: 1310px;
  height: 388px;
  background-color: #1E1D1D;
  margin-top: 50px;
  padding: 30px 65px 75px 30px;
}

/* line 1137, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews img {
  float: left;
}

/* line 1142, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews h4 {
  margin-top: 51px;
  margin-left: 554px;
}

/* line 1147, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews .date {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  left: 620px;
  top: -23px;
}

/* line 1155, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews .insert {
  clear: none;
  margin: 8px 153px 30px 554px;
}

/* line 1161, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .fourNews .fullNews a {
  border: 0;
  border-bottom: 1px solid;
  border-color: #02E602;
  color: #02E602;
  margin-left: 54px;
  font-weight: 300;
  font-size: 16px;
}

/* line 1176, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .navbar {
  width: 188px;
  height: 40px;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 40px;
}

/* line 1183, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .navbar a {
  margin-right: 28px;
}

/* line 1188, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .navbar a:hover {
  color: #02E602;
}

/* line 1193, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.pageNews .container .navbar a.active {
  color: #02E602;
}

/* line 1202, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service, .air_photo {
  height: 505px;
}

/* line 1206, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service .container .info, .air_photo .container .info {
  margin-top: 110px;
  width: 1031px;
  height: 125px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  transition: height .25s;
  overflow: hidden;
}

/* line 1217, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service .container .arrow, .air_photo .container .arrow {
  position: relative;
  margin-top: -94px;
  text-align: center;
}

/* line 1222, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service .container .arrow .gradient, .air_photo .container .arrow .gradient {
  position: relative;
  top: 0px;
  width: 1310px;
  height: 94px;
  background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);
}

/* line 1232, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service .container .info:hover, .air_photo .container .info:hover {
  height: 250px;
}

/* line 1236, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Spraying_service .container .info:hover + .arrow, .air_photo .container .info:hover + .arrow {
  display: none;
}

/* line 1242, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive,
.negative {
  background: url(../img/Spraying/iconDron_1.svg) no-repeat 92% 15%;
}

/* line 1249, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container p.VertText,
.negative .container p.VertText {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 103px;
  left: -310px;
  top: 100px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 1253, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .VertText_R,
.negative .container .VertText_R {
  position: relative;
  display: inline-block;
  width: 498px;
  height: 103px;
  left: 1135px;
  top: 320px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(90deg);
}

/* line 1257, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns,
.negative .container .threeСolumns {
  display: flex;
  justify-content: space-between;
}

/* line 1261, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns div,
.negative .container .threeСolumns div {
  width: 422px;
  height: max-content;
  background-color: #1E1D1D;
  padding: 47px 25px 60px;
}

/* line 1267, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns div img:first-of-type,
.negative .container .threeСolumns div img:first-of-type {
  float: left;
  margin-right: 15px;
}

/* line 1272, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns div .resume,
.negative .container .threeСolumns div .resume {
  margin-top: 45px;
}

/* line 1275, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns div .resume li,
.negative .container .threeСolumns div .resume li {
  font-weight: 300;
  font-size: 18px;
  margin-top: 6px;
}

/* line 1280, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.Positive .container .threeСolumns div .resume li p,
.negative .container .threeСolumns div .resume li p {
  margin-left: 38px;
  line-height: 31px;
}

/* line 1291, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.negative {
  margin-top: 70px;
  background: none;
}

/* line 1296, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle {
  background: url(../img/Spraying/XMLID_1_.svg) no-repeat center center;
}

/* line 1300, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container p.VertText {
  position: relative;
  display: inline-block;
  width: 608px;
  height: 103px;
  left: -367px;
  top: 403px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 1304, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns {
  display: flex;
  justify-content: space-around;
}

/* line 1308, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns div {
  width: 502px;
  height: 688px;
  background-color: #1E1D1D;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 35px 70px 155px;
}

/* line 1318, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns div h3 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
}

/* line 1329, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns div .resume li {
  margin-top: 6px;
}

/* line 1332, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns div .resume li img {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}

/* line 1339, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.nozzle .container .twoColumns div .resume li p {
  margin-left: 38px;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */