@charset "UTF-8";
/* line 1, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
body {
  font-family: 'RF Rufo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #181818;
}

/* line 13, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 17, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
li {
  list-style-type: none;
}

/* line 20, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.container {
  max-width: 1310px;
  margin: 0 auto;
}

/* line 25, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header {
  /*width: 1920px;*/
  background-color: #151515;
  margin: 0 auto;
}

/* line 32, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container {
  display: flex;
}

/* line 34, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .logo {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 41, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .social {
  margin-left: 703px;
  width: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 48, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .lang {
  margin-left: 71px;
  width: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

/* line 57, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket {
  margin-left: 51px;
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 68, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen {
  background: url(../img/first_Background.jpg) center center no-repeat;
  position: relative;
  /*margin: 0 auto 0;
    width: 1920px;*/
  height: 668px;
  top: -28px;
  z-index: -1;
}

/* line 79, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .agro {
  position: relative;
  width: 663px;
  height: 258px;
  top: 123px;
  font-size: 72px;
}

/* line 86, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 587px;
  height: 84px;
  left: 0;
  top: 158px;
}

/* line 95, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage img {
  position: relative;
  width: 946px;
  height: 117px;
  left: -300px;
  top: 0;
}

/* line 102, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p {
  font-size: 48px;
  line-height: 42px;
}

/* line 105, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p span {
  font-size: 24px;
}

/* line 114, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen::after {
  content: "";
  background: url(../img/mask_first_screen.png) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  z-index: -1;
}

/* line 123, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage {
  background: url(../img/iconDron.png) 87% 34% no-repeat;
}

/* line 127, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .out {
  position: relative;
  left: 0;
  top: 44px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.2);
}

/* line 134, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .out span {
  position: absolute;
  left: 6px;
  top: 57px;
  font-weight: 400;
  font-size: 48px;
  color: #02E602;
}

/* line 143, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence {
  margin-top: 107px;
  width: 1302px;
  height: 536px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 150, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div {
  width: 422px;
  height: 258px;
  background: #1E1D1D;
  padding: 58px 33px 62px 30px;
  text-align: initial;
}

/* line 156, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
}

/* line 162, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div .insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
}

/* line 170, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div h4::before {
  content: url(../img/IconPeople.svg);
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

/*# sourceMappingURL=style.css.map */