@charset "UTF-8";
/* line 3, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 8, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
body {
  font-family: 'RF Rufo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #181818;
}

/* line 15, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 19, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
li {
  list-style-type: none;
}

/* line 22, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.container {
  max-width: 1310px;
  margin: 0 auto;
}

/* line 27, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.out {
  position: relative;
  left: 0;
  top: 44px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.2);
}

/* line 34, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.out span {
  position: absolute;
  left: 6px;
  top: 57px;
  font-weight: 400;
  font-size: 48px;
  color: #02E602;
}

/* line 43, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
button {
  /*appearance: none;*/
  width: 288px;
  height: 62px;
  margin-left: 45px;
  background-color: #ffffff00;
  border: 1px solid #02E602;
  color: #02E602;
  font-family: 'RF Rufo';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
}

/* line 58, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
button:hover {
  background-color: #02E602;
  color: #181818;
}

/* line 63, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

/* line 69, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
  margin-top: 21px;
}

/* line 78, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header {
  /*width: 1920px;*/
  background-color: #151515;
  margin: 0 auto;
}

/* line 85, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container {
  display: flex;
}

/* line 87, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .logo {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 94, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .social {
  margin-left: 703px;
  width: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 101, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .lang {
  margin-left: 71px;
  width: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

/* line 110, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
header .container .basket {
  margin-left: 51px;
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 121, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen {
  background: url(../img/first_Background.jpg) center center no-repeat;
  position: relative;
  /*margin: 0 auto 0;
    width: 1920px;*/
  height: 668px;
  top: -28px;
  z-index: -1;
}

/* line 132, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .agro {
  position: relative;
  width: 663px;
  height: 258px;
  top: 123px;
  font-size: 72px;
}

/* line 139, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 587px;
  height: 84px;
  left: 0;
  top: 158px;
}

/* line 148, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage img {
  position: relative;
  width: 946px;
  height: 117px;
  left: -300px;
  top: 0;
}

/* line 155, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p {
  font-size: 48px;
  line-height: 42px;
}

/* line 158, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen .container .advantage p span {
  font-size: 24px;
}

/* line 167, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.first_screen::after {
  content: "";
  background: url(../img/mask_first_screen.png) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  z-index: -1;
}

/* line 176, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage {
  margin-top: 10px;
  background: url(../img/iconDron.png) 88% 29% no-repeat;
}

/* line 179, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container {
  /*.out{
            position: relative;
            left: 0;
            top: 44px;
            font-weight: 700;
            font-size: 120px;
            color: rgba(255, 255, 255, 0.2);
            span{
                position: absolute;
                left: 6px;
                top: 57px;
                font-weight: 400;
                font-size: 48px;
                color: $colgr;
            }
        }*/
}

/* line 197, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence {
  margin-top: 107px;
  width: 1302px;
  height: 536px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 204, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div {
  width: 422px;
  height: 258px;
  background: #1E1D1D;
  padding: 58px 35px 62px 32px;
  text-align: initial;
}

/* line 210, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

/* line 218, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

/* line 224, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.blok_advantage .container .credence div .insert {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 31px;
  clear: both;
  margin-top: 21px;
}

/* line 238, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products {
  margin-top: 56px;
  background: url(../img/iconLine.svg) 96% 179% no-repeat;
  /*position: relative;
    overflow: hidden;*/
}

/* line 243, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products p.sale {
  position: relative;
  display: inline-block;
  width: 436px;
  height: 103px;
  left: -290px;
  top: 340px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 260, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales {
  margin-top: 2px;
  width: 1302px;
  height: 629px;
  display: flex;
  justify-content: space-between;
}

/* line 267, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div {
  width: 422px;
  height: 629px;
  background: #1E1D1D;
  padding: 14px 25px 65px;
}

/* line 272, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div h3 {
  margin: 27px 29px 30px 45px;
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
}

/* line 278, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div span {
  margin-left: 45px;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
}

/* line 284, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.block_products .container .top_sales div .price {
  display: block;
  font-size: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 19px;
}

/* line 296, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner {
  margin-top: 110px;
  height: 650px;
  position: relative;
  background: url(../img/Background_banner.jpg) center center no-repeat;
  z-index: 0;
}

/* line 303, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request {
  position: relative;
  top: 153px;
  z-index: 1;
}

/* line 307, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request p {
  font-size: 72px;
  line-height: 48px;
}

/* line 311, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request span {
  display: block;
  margin-top: 50px;
  font-weight: 300;
  font-size: 34px;
  line-height: 54px;
}

/* line 318, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner .container .request button {
  margin-top: 70px;
  margin-left: 0px;
  width: 288px;
  height: 62px;
}

/* line 327, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.banner::after {
  content: "";
  background: url(../img/mask_banner.png) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -347px;
  z-index: -1;
}

/* line 338, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company {
  margin-top: 10px;
  height: 458px;
}

/* line 344, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info {
  margin-top: 80px;
  width: 1195px;
  height: 125px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  transition: height .25s;
  overflow: hidden;
}

/* line 354, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .arrow {
  position: relative;
  margin-top: -94px;
  text-align: center;
}

/* line 358, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .arrow .gradient {
  position: relative;
  top: 0px;
  width: 1310px;
  height: 94px;
  background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);
}

/* line 367, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info:hover {
  height: 250px;
}

/* line 370, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.company .container .info:hover + .arrow {
  display: none;
}

/* line 375, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region {
  margin-top: 10px;
}

/* line 378, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container object {
  /*position: relative;
            left: 620px;
            bottom: 1150px;*/
  margin-left: 520px;
  margin-top: -1150px;
}

/* line 385, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container p.map {
  position: relative;
  display: inline-block;
  width: 458px;
  height: 103px;
  left: -290px;
  top: 403px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.26);
  text-shadow: 0px 4px 4px #00000040;
  transform: rotate(-90deg);
}

/* line 400, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list {
  margin-top: 115px;
  margin-left: 10px;
  width: 520px;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

/* line 408, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list ul {
  font-weight: 300;
  font-size: 24px;
  line-height: 39px;
}

/* line 417, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.region .container .list ul li:hover {
  color: #02E602;
}

/* line 423, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.client {
  margin-top: 55px;
}

/* line 426, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.client .container .client_logo {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

/* line 435, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news {
  margin-top: 100px;
}

/* line 438, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

/* line 442, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div {
  width: 422px;
  height: 607px;
}

/* line 445, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div h4 {
  margin-top: 50px;
}

/* line 448, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div p {
  margin-top: 30px;
}

/* line 451, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
.news .container .news_block div .read {
  display: block;
  margin-top: 30px;
  color: #02E602;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

/* line 463, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer {
  margin-top: 125px;
  border-top: #02E602 solid 1px;
  height: 99px;
}

/* line 468, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* line 472, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container .logo {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 478, ../../Users/Otec/Desktop/IT обучение/GoncharAlex/Drons/scss/style.scss */
footer .container .social {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */